body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: let(--white);
}

:root {
  --max-width: 1200px;
  --primary-color: rgba(0, 107, 182, 1);
  --primary-color-transparent: rgba(0, 107, 182, 0.2);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(211, 211, 211, 1);
  max-width: let(--max-width);
  margin: 0 auto;
}

.app {
  margin: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation-item {
  margin-right: 15px;
}

.navigation-item:last-child {
  margin-right: 0px;
}

.navigation-item-link {
  text-transform: uppercase;
  text-decoration: none;
  color: let(--black);
  padding: 10px;
}

.navigation-item-link:hover {
  color: let(--primary-color);
  background-color: let(--primary-color-transparent);
  border-radius: 10px;
}

.logo {
  height: 100px;
  width: auto;
}